body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: white;
    opacity: 0.9;
}
.header{
    width: 100%;
    height: 69px;
    background-color: white;
    display: block;
   position: fixed;
   top: 0px;
   border-bottom: 1px solid rgb(26, 22, 20);
   z-index: 99;
   }
   .title-image {
       height: 50px;
       float: left;
   padding-left: 10px;
   position: relative;
   top: 10px;
   }
   .list{
       float: right;
       height: 100px;
       margin: 0 auto;
   }
   .list li {
       float: left;
       display: table;
       padding: 0px 20px;
       height: 100%;
       position: relative;
       top: 22px;
       
       color: black;
       text-shadow: 1.5px 1.5px #1d2227;
   }
   .home{
  
  
    background-image: url(./image/Thiết\ kế\ không\ tên\ \(8\).png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter: brightness(1);
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  
  .h {
    text-align: center;
    margin: auto;
    width: 200%;
    text-align: center;
    margin-top: 70mm;
    
    
  }
  .h h5 {
    opacity: 0.7;
    font-family: 'Tiempos Fine';
    color: black;
  }
  .h1 {
    font-family: 'Tiempos Fine';
    font-size: 2.5cm;
    position: relative;
    bottom: 60px;
    color: black;
  }
  .h2 {
    font-family: 'Tiempos Fine';
    position: relative;
    bottom: 130px;
    font-size: 1cm;
    opacity: 0.8;
    color: black;
    
  }
h2{
    color: black;
    text-align: center;
}
.title{
    margin-left: 50px;
    margin-right: 70px;
}
p{
    color: #000;
}
.headggoc{
    width: 340px;
    float: right;
}
* {box-sizing: border-box;}
.container {
    position: relative;
    width: 50%;
    max-width: 300px;
    min-width: 100px;
    float: right;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    float: right ;
  }
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  .a {
    position: relative;
    width: 50%;
    max-width: 300px;
    float: left;
    margin-right: 20px;
  }
  
  .n {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .b {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .a:hover .b {
    opacity: 1;
  }
  .ft{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 40px 20px ;
    justify-items: center;
  }
  .trend {
    width: 250px;
    height: 207.5px;
    border-radius: 30px;
  }
  @media only screen and (max-width: 790px){
    .ft{
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      }
      .ft img {
        width: 440px;
        border-radius: 30px;
        height: 365.2px;
        
      }
      
      .trend{
        margin: 50px;
      }
      .list{
        display: none;
      }
      .overlay{
        padding: 10px;
      }
  }
  
  h3{
    color: #000;
    text-align: center;
  }
  .ft img{
    
      width: 250px;
      height: 207.5px;
      border-radius: 30px;
   
  }
  